<h1><%= current_user.username %>'s page</h1>
<img src="<%= current_user.picture_url %>" alt="User Picture" class="img-circle" style="height:200px ;width: 200px;">
<h1>Email: <%= current_user.email %></h1>
<h1>Phone: <%= current_user.phone %></h1>
<h1>Sex: <%= current_user.sex %></h1>
<h1>Specialty: <%= current_user.specialty %></h1>
